* {
    box-sizing: border-box;
}

body {
    background-color: lavender;
    color: grey;
    font-family: sans-serif;
}

.section {
    background-image: url(../assets/site-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

img {
    background-image: linear-gradient(to bottom, rgb(169, 174, 179), rgba(255, 255, 255, 0));
}

div, h1 {
    display: flex;
    justify-content: center;
}

